.people-display {
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;

  &--title {
    color: #6A7AFF;
    font-size: 24px;
    font-weight: normal;
  }

  %people-display__btn {
    border: none;
    cursor: pointer;
  }

  &__btn-delete {
    @extend %people-display__btn;
    background-color: #EEE;
    font-size: 12px;
    float: right;
    margin: -3px 0 0 0;
    padding: 8px 12px;
    text-transform: uppercase;

    &:hover {
      background-color: red;
      color: white;
    }
  }

  &__btn-name {
    @extend %people-display__btn;
    background-color: transparent;
    color: black;
    font-size: 18px;
    text-align: left;

    &:hover {
      color: #888;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;

    .people-display__list-item {
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      display: block;
      padding: 6px 0;
    }

    &.people-display__list--deleted {

      .people-display__list-item {
        display: none;

        &.people-display__list-item--deleted {
          display: block;
        }
      }
    }

    &.people-display__list--undeleted {

      .people-display__list-item {
        display: block;

        &.people-display__list-item--deleted {
          display: none;
        }
      }
    }

  }

  &__list-item {

  }

  &__list-item--deleted {

  }
}
